* {
    font-style: "Brush Script MT", "Lucida Handwriting", Cursive;
}

.main-section,
.sub-section{
    background-color: rgb(61, 58, 58);
    color: rgb(255,255,255);
}

.main-section{
    font-size: 50px;
}

.sub-section{
    font-size: 35px;
}

.list-items{
    font-size: 25px;
    background-color: rgb(111, 218, 84);
    color: rgb(167, 5, 5);
}